venv/
.venv/
__pycache__/
*.pyc
.env

# Ignore actual data files (DVC manages these)
data/raw/*.csv
data/chunks/*.csv
data/processed/*.csv

# Do NOT ignore .dvc pointer files — Git needs those!

# Airflow, MLflow logs & databases
airflow/
mlruns/
models/*.pkl
$/

