venv/
.venv/
__pycache__/
*.pyc
.env

# Ignore actual data files (DVC manages these)
data/raw/*.csv
data/chunks/*.csv
data/processed/*.csv

# Airflow & MLflow local logs / databases
airflow/
mlruns/
models/*.pkl
$/

